<div class="row">
  <div class="col-md-6" *ngIf="kvar">

      <div class="card-body">
        <div class="row">
          <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1" title="{{kvar?.nazivKvara}}">
              <ng-template ngbPanelContent>
                <p> <label><b>{{'kvarovi.detailsForm.ID' | translate}} </b></label> {{kvar.id}}</p>
                <p> <label><b>{{'kvarovi.detailsForm.createdAt' | translate}} </b></label> {{kvar?.createdAt | date:'d.M.yyyy'}}</p>
                <p><label><b>{{'kvarovi.detailsForm.opisKvara' | translate}} </b></label> {{kvar.opisKvara}}</p>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
    </div>
  </div>


<!--<button type="button" class="btn btn-outline-secondary float-right" routerLink="/kvarovi">{{'students.detailsForm.back' | translate}}</button>-->
</div>
