.toast-top-center {
  top: 12px;
  left: 50%;
  margin-left: -150px;
}
@media all and (max-width: 240px) {
  .toast-top-center {
    margin-left: -54px;
  }
}
@media all and (min-width: 241px) and (max-width: 320px) {
  .toast-top-center {
    margin-left: -64px;
  }
}
@media all and (min-width: 321px) and (max-width: 480px) {
  .toast-top-center {
    margin-left: -96px;
  }
}
