<div class="row mt-4">
  <div class="col-md-6" *ngIf="nalog">
    <div class="card">
      <div class="card-header">
       <!-- {{'students.detailsForm.studentDetails' | translate}}-->
      </div>
      <div class="card-body">
        <div class="row">
          <div>
            <label><b>{{'nalozi.detailsForm.idNalog' | translate}}</b></label> {{nalog.id}}
          </div>
          <br>
          <div>
            <label><b>{{'nalozi.detailsForm.registracija' | translate}}</b></label> {{nalog.registracijaVozila}}
          </div>
          <br>
          <div>
            <label><b>{{'nalozi.detailsForm.prioritet' | translate}}</b></label> {{nalog.prioritet}}
          </div>
          <br>
          <br>
          <div>
            <label><b>{{'nalozi.detailsForm.radnik' | translate}}</b></label> {{nalog.radnik.imeIPrezime}}
          </div>
          <br>
          <div>
            <label><b>{{'nalozi.detailsForm.klijent' | translate}}</b></label> {{nalog.klijent.imeIPrezime}}
          </div>
          <br>
          </div>
        </div>
      </div>
    </div>
  </div>


<button type="button" class="btn btn-outline-secondary float-right" routerLink="/nalozi">{{'nalozi.detailsForm.goBack' | translate}}</button>
