<div class="card">
  <div class="card-body">
    <form #mjestoForm="ngForm">
      <div class="form-group">
        <b><label for="nazivMjesta">{{'mjesta.form.nazivMjesta' | translate}}</label></b>
        <input
          [(ngModel)]="mjesto.nazivMjesta"
          type="text"
          class="form-control"
          id="nazivMjesta"
          name="nazivMjesta"
          placeholder="{{'mjesta.form.nazivMjestaPlaceholder' | translate}}"
          required
        />
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="float-right">
            <button
              routerLink="/mjesta"
              [disabled]="saving"
              class="btn btn-outline-secondary mr-4"
              type="button"
            >
              {{'mjesta.form.cancel' | translate}}
            </button>
            <button
              (click)="save()"
              [disabled]="!mjestoForm.valid || saving"
              class="btn btn-success"
              type="button"
            >
              {{'mjesta.form.save' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
