<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/nalozi" routerLinkActive="active" >
          <span data-feather="shopping-cart"></span>
          Nalozi
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/kvarovi" routerLinkActive="active">
          <span data-feather="users"></span>
          Kvarovi
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/klijenti" routerLinkActive="active">
          <span data-feather="bar-chart-2"></span>
          Klijenti
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/radnici" routerLinkActive="active">
          <span data-feather="layers"></span>
          Radnici
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mjesta" routerLinkActive="active">
          <span data-feather="layers"></span>
          Mjesta
        </a>
      </li>
    </ul>
  </div>
</nav>
