<div class="row">
  <div class="col-md-6" *ngIf="klijent">
    <div class="card">
      <div class="card-header">
        {{'klijenti.detailsForm.title' | translate}}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            {{klijent.ime}} {{klijent.prezime}}
          </div>
          <div class="col-md-12">
            {{klijent.oib}} <small id="jmbag" class="d-inline text-muted">(OIB)</small>
          </div>
          <div class="col-md-12">
            {{klijent.email}} <small id="ects" class="d-inline text-muted">(email)</small>
          </div>
          <div class="col-md-12">
            {{klijent.brojMob}} <small id="ects" class="d-inline text-muted">(Broj mobitela)</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" *ngIf="mjesto">
    <div class="card">
      <div class="card-header">
        {{'klijenti.detailsForm.mjesto' | translate}}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            {{mjesto.nazivMjesta}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-secondary float-right" routerLink="/klijenti">
  {{'klijenti.detailsForm.prevPage' | translate }}</button>
