<div class="row">
  <div class="col-md-6" *ngIf="nalog">
    <div class="card">
      <div class="card-header">
       <!-- {{'students.detailsForm.studentDetails' | translate}}-->
      </div>
      <div class="card-body">
        <div class="row">
          <div>
            <label><b>ID naloga: </b></label> {{nalog.id}}
          </div>
          <br>
          <div>
            <label><b>Registracija vozila: </b></label> {{nalog.registracijaVozila}}
          </div>
          <br>
          <div>
            <label><b>Prioritet naloga: </b></label> {{nalog.prioritet}}
          </div>
          <br>
          <div>
            <label><b>: </b></label> {{nalog.utroseniRadniSatiServisa}}
          </div>
          <br>
          <div>
            <label><b>Radnik: </b></label> {{nalog.radnik}}
          </div>
          <br>
          <div>
            <label><b>Klijent: : </b></label> {{nalog.klijent.ime}}
          </div>
          <br>
          </div>
        </div>
      </div>
    </div>
  </div>


<button type="button" class="btn btn-outline-secondary float-right" routerLink="/nalozi">Povratak na pregled naloga</button>
