
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">Auto servis Jožo</a>

  <!--DROPDOWN Button-->

   <div class="d-inline-block pull-left dropdown-menu-left" ngbDropdown #myDrop="ngbDropdown" style="text-align:left !important;">
     <button class="btn btn btn-secondary mr-2 pull-right" style="text-align:left !important;" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Select Language</button>
     <div ngbDropdownMenu aria-labelledby="dropdownManual">
       <button ngbDropdownItem (click)="useLanguage('hr')">{{'language.croatian' | translate}}</button>
       <button ngbDropdownItem (click)="useLanguage('en')">{{'language.english' | translate}}</button>
     </div>
   </div>

  <a class="col-sm-3 col-md-7 mr-0" ></a>

   <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/login" routerLinkActive="active"  >Prijava</a>
    </li>
  </ul>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" >Odjava</a> <!--Napravit odjavu?-->
    </li>
  </ul>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/nalozi" routerLinkActive="active" >
              <span data-feather="shopping-cart"></span>
              Nalozi
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/kvarovi" routerLinkActive="active">
              <span data-feather="users"></span>
              Kvarovi
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/klijenti" routerLinkActive="active">
              <span data-feather="bar-chart-2"></span>
              Klijenti
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/radnici" routerLinkActive="active">
              <span data-feather="layers"></span>
              Radnici
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mjesta" routerLinkActive="active">
              <span data-feather="layers"></span>
              Mjesta
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
