<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    </head>
    <body>
    
    
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    
                <a class="navbar-brand" href="#">Navbar</a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
                    <span class="navbar-toggler-icon"></span>
    
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                    <ul class="navbar-nav mr-auto">
    
                        <li class="nav-item active">
    
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    
                        </li>
    
                        <li class="nav-item">
    
                            <a class="nav-link" href="#">Link</a>
    
                        </li>
    
                        <li class="nav-item dropdown">
    
                            <div ngbDropdown class="d-inline-block">
    
                                <button class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>Toggle
                                    dropdown</button>
    
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    
                                    <button ngbDropdownItem>Action - 1</button>
    
                                    <button ngbDropdownItem>Another Action</button>
    
                                    <button ngbDropdownItem>Something else is here</button>
    
                                </div>
    
                            </div>
    
                        </li>
    
                        <li class="nav-item">
    
                            <a class="nav-link disabled" href="#">Disabled</a>
    
                        </li>
    
                    </ul>
    
                </div>
    
            </nav>
    
        </header>
    
        <div class="container mt-3">
    
            <div class="row">
    
                <div class="col-lg-4 mb-4 grid-margin">
    
                    <div class="card h-100">
    
                        <h4 class="card-header">Card Title</h4>
    
                        <div class="card-body">
    
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                                necessitatibus neque.</p>
    
                        </div>
    
                        <div class="card-footer">
    
                            <Button class="btn btn-primary">Learn More</Button>
    
                        </div>
    
                    </div>
    
                </div>
    
                <div class="col-lg-4 mb-4 grid-margin">
    
                    <div class="card h-100">
    
                        <h4 class="card-header">Card Title</h4>
    
                        <div class="card-body">
    
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam
                                eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque
                                exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
    
                        </div>
    
                        <div class="card-footer">
    
                            <Button class="btn btn-primary">Learn More</Button>
    
                        </div>
    
                    </div>
    
                </div>
    
                <div class="col-lg-4 mb-4 grid-margin">
    
                    <div class="card h-100">
    
                        <h4 class="card-header">Card Title</h4>
    
                        <div class="card-body">
    
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                                necessitatibus neque.</p>
    
                        </div>
    
                        <div class="card-footer">
    
                            <Button class="btn btn-primary">Learn More</Button>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
            <div class="row">
    
                <div class="col-sm-12 mt-3">
    
                    <div class="card">
    
                        <div class="card-body">
    
                            <h3 class="card-title">Table</h3>
    
                            <table class="table table-striped">
    
                                <thead>
    
                                    <tr>
    
                                        <th scope="col">#</th>
    
                                        <th scope="col">Country</th>
    
                                        <th scope="col">Area</th>
    
                                        <th scope="col">Population</th>
    
                                    </tr>
    
                                </thead>
    
                                <tbody>
    
                                    <tr>
    
                                        <td>1</td>
    
                                        <td>Russia</td>
    
                                        <td>17,075,200 </td>
    
                                        <td>36,624,199</td>
    
                                    </tr>
    
                                    <tr>
    
                                        <td>2</td>
    
                                        <td>Canada</td>
    
                                        <td>9,976,140 </td>
    
                                        <td>146,989,754</td>
    
                                    </tr>
    
                                    <tr>
    
                                        <td>3</td>
    
                                        <td> United States </td>
    
                                        <td>9,629,091 </td>
    
                                        <td>324,459,463</td>
    
                                    </tr>
    
                                    <tr>
    
                                        <td>4</td>
    
                                        <td>China</td>
    
                                        <td>9,596,960</td>
    
                                        <td>1,409,517,397</td>
    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>
