
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" >Auto servis Jožo</a>

  <!--DROPDOWN Button-->

   <div class="d-inline-block pull-left dropdown-menu-left" ngbDropdown #myDrop="ngbDropdown" style="text-align:left !important;">
     <button class="btn btn btn-secondary mr-2 pull-right" style="text-align:left !important;" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Select Language</button>
     <div ngbDropdownMenu aria-labelledby="dropdownManual">
       <button ngbDropdownItem>English</button>
       <button ngbDropdownItem>Hrvatski</button>
     </div>
   </div>

  <a class="col-sm-3 col-md-8 mr-0" ></a>

   <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" >Odjavi se</a>
    </li>
  </ul>



  <ul class="navbar-nav px-3">
    <!--<li class="dropdown dropdown-menu-right ngbDropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle d-inline-block" id="id01" href="#" ngbDropdownToggle>Files</a>
      <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">HTML</a>
        <a class="dropdown-item" href="#">TS</a>
        <a class="dropdown-item" href="#">JS</a>
      </div>
    </li>
    -->
  </ul>


</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/nalozi" routerLinkActive="active">
              <svg class="bi bi-eye" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z"
                clip-rule="evenodd" />
            </svg>
              Nalozi
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/kvarovi" routerLinkActive="active">
              <span data-feather="users"></span>
              Kvarovi
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/klijenti" routerLinkActive="active">
              <span data-feather="bar-chart-2"></span>
              Klijenti
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/radnici" routerLinkActive="active">
              <span data-feather="layers"></span>
              Radnici
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mjesta" routerLinkActive="active">
              <span data-feather="layers"></span>
              Mjesta
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
