<div class="card">
  <div class="card-body">
    <form #nalogForm="ngForm">
      <div class="form-group">
        <label for="registracijaVozila">{{'nalozi.form.registracija' | translate}}</label>
        <input
          [(ngModel)]="nalog.registracijaVozila"
          type="text"
          class="form-control"
          id="registracijaVozila"
          name="registracijaVozila"
          placeholder="{{'nalozi.form.registracijaPlaceholder' | translate}}"
          required
        />
      </div>

      <div class="form-group">
        <label for="prioritet">{{'nalozi.form.prioritet' | translate}}</label>
        <select
          id="prioritet"
          [(ngModel)]="nalog.prioritet"
          class="form-control"
          name="prioritet"
        >
          <option disabled selected
            >{{'nalozi.form.prioritetDropdown' | translate}}</option
          >
          <option
            *ngFor="let key of prioritetiOptions"
            [value]="key"
            [label]="prioriteti[key]"
          ></option>
        </select>
      </div>

      <div class="form-group">
        <label for="utroseniRadniSatiServisa"
          >{{'nalozi.form.radniSati' | translate}}</label
        >
        <input
          [(ngModel)]="nalog.utroseniRadniSatiServisa"
          type="number"
          class="form-control"
          id="utroseniRadniSatiServisa"
          name="utroseniRadniSatiServisa"
          placeholder="{{'nalozi.form.radniSatiPlaceholder' | translate}}"
          required
          min="0"
        />
      </div>

      <div class="form-group">
        <label for="klijent">{{'nalozi.form.odabirKlijenta' | translate}}</label>
        <select
          id="klijent"
          [(ngModel)]="nalog.klijent"
          class="form-control"
          name="kljent"
        >
          <option disabled selected>{{'nalozi.form.odabirKlijentaDropdown' | translate}}</option>
          <option
            [ngValue]="klijent"
            *ngFor="let klijent of klijenti"
            value="{{ klijent }}"
          >
            {{ klijent.imeIPrezime }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="radnik">{{'nalozi.form.odabirRadnika' | translate}}</label>
        <select
          id="radnik"
          [(ngModel)]="nalog.radnik"
          class="form-control"
          name="radnik"
        >
          <option disabled selected>{{'nalozi.form.odabirRadnikaDropdown' | translate}}</option>
          <option
            [ngValue]="radnik"
            *ngFor="let radnik of radnici"
            value="{{ radnik }}"
          >
            {{ radnik.imeIPrezime }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="kvar">{{'nalozi.form.odabirKvara' | translate}}</label>
        <select
          id="kvar"
          [(ngModel)]="nalog.kvar"
          class="form-control"
          name="kvar"
        >
          <option disabled selected>{{'nalozi.form.odabirKvaraDropdown' | translate}}</option>
          <option
            [ngValue]="kvar"
            *ngFor="let kvar of kvarovi"
            value="{{ kvar }}"
          >
            {{ kvar.nazivKvara }}
          </option>
        </select>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="float-right">
            <button
              routerLink="/kvarovi"
              [disabled]="saving"
              class="btn btn-outline-secondary mr-4"
              type="button"
            >
              {{'nalozi.form.cancel' | translate}}
            </button>
            <button
              (click)="save()"
              [disabled]="!nalogForm.valid || saving"
              class="btn btn-success"
              type="button"
            >
              {{'nalozi.form.save' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
